main {
    font-family: 'Lobster', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Poppins', sans-serif;
}

.carousel-item {
    background: no-repeat scroll center scroll;
    -webkit-backdrop-size: cover;
    background-size: cover;
}

.carousel-item::before {
    content: "";
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #1D1D1D;
    opacity: 0.7;
}

.bg-color {
    background-color: #289BDE !important;
}

/* Responsive media query for mobile */

@media (max-width: 576px) {
    .carousel-item .carousel-text {
        height: 128px;
    }

    h1 {
        font-size: 20px !important;
    }

    p {
        font-size: 10px;
    }

    .carousel-text .button {
        font-size: 16px;
        padding: 10px;
    }

    .accordion-fix {
        margin-bottom: 60px;
    }

    .card-section .hide {
        display: none;
    }
}

/* responsive for tablet device */
@media screen and (min-width: 577px) and (max-width: 991px) {

    .text-fix {
        text-align: center;
    }

    .accordion-fix {
        margin-bottom: 60px;
    }

    .card-section .hide {
        display: none;
    }
}

/* Responsive media query for large device */
@media (min-width: 992px) {
    .carousel-item .carousel-text {
        height: 100%;
    }

    .accordion-fix {
        width: 75%;
        margin-bottom: 10px;
    }
}